<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/dmartell33">Dedrick</a>. A web developer who is on a mission to increase his technical skills and develop exciting new programs that are impactful. 
  </p>
  <br />
  <p>
    Dedrick has written code and created programs via the University of Arizona and the University of Missouri Columbia.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dedrick.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dedrick Harrington</h2>
      <br />
      <p>
        Dedrick Harrington is currently a full stack web developer. Dedrick is a prior professional athlete, that transitioned to a corporate professional role. Dedrick is a client focused business leader spanning across 10+ years experience in the insurance industry. Driver of revenue, leading and reengineering processes, a self-motivated professional sought after as a go-to for solving complex issues and cultivating new business. Dedrick has prior IT experience working at the University of Missouri-Columbia Office of Computer Services.
      </p>
    </div>
  </div>
  
  </div>
  

<br class="clear" />
<br />
<br />
<br />
<br />